<p id="notice"><%= notice %></p>

<h1>Money</h1>

<table>
  <thead>
    <tr>
      <th>Yen</th>
      <th>Wallet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moneys.each do |money| %>
      <tr>
        <td><%= money.yen %></td>
        <td><%= money.wallet_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Money', new_money_path %>
